* {
    font-family: Lato, sans-serif;
    text-align: center;
    color: #003039;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #DCF6E5;
}

h1 {
    padding: 32px;
    margin: 0;
    font-weight: 900;
    font-size: 64px;
}

h2 {
    font-weight: 700;
    font-size: 38px;
}

button {
    margin: 10px;
    width: 170px;
    height: 48px;
    background-color: #DCF6E5;
    border: #89B9AE solid 2px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.1s ease;
}

.button-selected {
    background-color: #AAF1E0;
}

#selections-section {
    display: flex;
    gap: 96px;
    flex: 1;
}

#player-selections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

#computer-selection-container {
    display: flex;
    flex-direction: column;
}

#computer-selection-text {
    font-size: 26px;
    font-weight: 700;
}

#point-count,
#win-rate {
    font-size: 24px;
    font-weight: 700;
}